body {
  background-color: rgb(38, 181, 232);
  text-align: center;
}

footer {
  text-align: center;
}
.whySection{
    
    //display: flex;
    text-align: center;
}
#titleWords{
    text-align: center;
    background-color: rgb(8, 23, 117);
    color: white;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;

}
#wtPara{
    /*width: 50%;*/
    /*height: 100vw;*/
    /*padding: 10px;*/
}

#hilightSup{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 13px;
    letter-spacing: -0.4px;
    word-spacing: -0.6px;
    color: #C61CBD;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}
#spImg{
    height: 25%;
    width: 25%;
}
.navButtons{
    width: 10%;
    height: fit-content;
    font-size: 2vw;
    text-align: center;
    color: white;
    padding: 0.5vw;
    background-color: mediumpurple;
}

.navButton:hover{
    background-color: lightcoral;
    scale: 120%;
}
