body {
  background-color: rgb(38, 181, 232);
  text-align: center;
}

footer {
  text-align: center;
}
.whySection{
    
    display: flex;
    flex-direction: column;
}
#titleWords{
    text-align: center;
    background-color: rgb(8, 23, 117);

}
