body {
  background-color: rgb(38, 181, 232);
  text-align: center;
}

footer {
  text-align: center;
}
.whySection{
    
    display: flex;
    flex-direction: column;
}
#titleWords{
    text-align: center;
    background-color: rgb(8, 23, 117);
    color: white;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;

}
.navButtons{
    width: 10%;
    height: fit-content;
    font-size: 2vw;
    padding: 0.5vw;
    background-color: lightcoral;
}

.navButton:hover{
    background-color: lightcoral;
    scale: 120%;
}
