body {
    background-color: rgb(38, 181, 232);
    text-align: center;
}
#titleWords{
    text-align: center;
    background-color: rgb(8, 23, 117);
    color: white;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;

}
.navLinks{
    width: 10%;
    height: fit-content;
    font-size: 2vw;
    text-align: center;
    color: white;
    padding: 0.5vw;
    background-color: mediumpurple;
}
.navLinks:hover{
    background-color: rgb(8, 23, 117);

}
#spImg{
    height: 25%;
    width: 25%;
    padding-top: 0.5px;
}