h1:hover{
    color : red;
    scale: 150%;
    background-color: rgb(177, 110, 238);
}
h1:active{
    scale: 120%;
}
h1{
    font-family: cursive;
    color: royalblue;
}
h3:hover{
    color : green;
    scale: 145%;
}
h3:active{
    color: blue;
    scale: 120%;
}
button:hover{
    scale: 150%;
    
}
button:active{
    scale: 120%;
}
#q5Answers{
    color: blue;
}
#q5Answers:hover{
    scale: 140%;
}
#q5Answers:active{
    scale: 120%;
}
#q3Answers{
    color: blue;
}
#q3Answers:hover{
    scale: 140%;
}
#q3Answers:active{
    scale: 120%;
}
footer{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 100;
}

