body {
  background-color: aquamarine;
}
#imageResult {
  scale: 10%;
  border: 13px groove #666C6A;
}

h1 {
  text-align: center;
  background-color: grey;
  border: 2px double #f5f5f5;
  text-shadow:
    rgb(128, 141, 147) 0px 1px,
    rgb(205, 210, 213) -1px 0px,
    rgb(128, 141, 147) -1px 2px,
    rgb(205, 210, 213) -2px 1px,
    rgb(128, 141, 147) -2px 3px,
    rgb(205, 210, 213) -3px 2px,
    rgb(128, 141, 147) -3px 4px,
    rgb(205, 210, 213) -4px 3px,
    rgb(128, 141, 147) -4px 5px,
    rgb(205, 210, 213) -5px 4px,
    rgb(128, 141, 147) -5px 6px,
    rgb(205, 210, 213) -6px 5px,
    rgb(128, 141, 147) -6px 7px,
    rgb(205, 210, 213) -7px 6px,
    rgb(128, 141, 147) -7px 8px,
    rgb(205, 210, 213) -8px 7px;
  --darkreader-inline-color: var(--darkreader-text-202c2d, #f1e3ca);
  --darkreader-inline-bgcolor: var(--darkreader-background-ffffff, #101110);
  --darkreader-inline-bgimage: none, 2px 2px 2px rgba(175, 199, 206, 0);
}
#instructions {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 16px;
  letter-spacing: 2px;
  word-spacing: -0.4px;
  color: #1208ff;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: capitalize;
  border: 2px dotted #135141;
}
button:hover {
  scale: 130%;
}
button:active {
  scale: 105%;
  color: white;
  background-color: #04007d;
}
footer {
  text-align: center;
  font-style: italic;
}
#result {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  word-spacing: -0.4px;
  color: #056322;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: capitalize;
}
