body {
  background-color: aqua;
}
h1 {
  border: 5px outset #113ba4;
  color: rgb(255, 255, 255);
  background-color: rgb(51, 51, 51);
  text-shadow:
    rgb(255, 255, 255) 0px -1px 4px,
    rgb(255, 255, 0) 0px -2px 10px,
    rgb(255, 128, 0) 0px -10px 20px,
    red 0px -18px 40px;
  --darkreader-inline-color: var(--darkreader-text-ffffff, #ffffe9);
  --darkreader-inline-bgcolor: var(--darkreader-background-333333, #222321);
  text-align: center;
}
h2 {
  text-align: center;
}
.preGuessSection {
  /* display: flex;
    justify-content: left; */
  border: 2px dotted #a49023;
  word-spacing: 10px;
}
.guesses {
  font-family: "Courier New", Courier, monospace;
  font-size: 17px;
  letter-spacing: -0.4px;
  word-spacing: 3.6px;
  color: #0a0898;
  font-weight: normal;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
  text-transform: none;
}
.guesses:hover {
  color: #0a0898;
  font-weight: bold;
  text-decoration: underline;
  font-style: italic;
  font-variant: normal;
  text-transform: none;
}
#attemptCount {
  color: transparent;
  text-shadow:
    rgba(179, 179, 179, 0.4) -4px 4px,
    rgba(153, 153, 153, 0.2) -3px 3px,
    rgba(179, 179, 179, 0.2) -2px 2px,
    rgba(179, 179, 179, 0.2) -1px 1px,
    rgba(128, 128, 128, 0.5) 0px 0px,
    rgba(77, 77, 77, 0.6) 1px -1px,
    rgba(77, 77, 77, 0.7) 2px -2px,
    rgba(82, 82, 82, 0.8) 3px -3px,
    rgba(77, 77, 77, 0.9) 4px -4px,
    rgb(77, 77, 77) 5px -5px;
  --darkreader-inline-color: transparent;
}
#scoreboard{
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}