body {
  background-color: conic-gradient(to bottom, aqua, darkblue);
}
h3{
    font-family: 'Times New Roman', Times, serif;
}

h1 {
  border: 5px outset #a41111;
  color: rgb(255, 255, 255);
  background-color: rgb(51, 51, 51);
  text-shadow:
    rgb(255, 255, 255) 0px -1px 4px,
    rgb(143, 221, 247) 0px -2px 10px,
    rgb(67, 158, 250) 0px -10px 20px,
    rgb(8, 0, 255) 0px -18px 40px;
  --darkreader-inline-color: var(--darkreader-text-ffffff, #ffffe9);
  --darkreader-inline-bgcolor: var(--darkreader-background-333333, #222321);
  text-align: center;
  font-size: clamp(16px, 4vw, 32px);
}
#result{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: #0a0898;
    font-weight: normal;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: none;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} 
button:hover {
    background-color: #0a0898;
    color: white;
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
    font-variant: normal;
    text-transform: none;
}
button {
    font-weight: normal;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: none;
}
